:root {
  --background-color: #201a2a;
  --font-color: #f4f2ee;
  --highlight-color: #8f8f8f;
  --link-color: #5f9ea0;
  --hover-bg: #4b565e;
  --footer-bg: #2e2c3c;
  --footer-text-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-width: 900px;
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: Arial, Helvetica, sans-serif;
}

header {
  width: 100%;
  position: sticky;
  top: 0;
  padding: 0.5rem 0;
  margin-bottom: 2rem;
  background-color: var(--background-color);
}

#navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

#navbar figure {
  width: 120px;
  height: 120px;
  margin-left: 1rem;
}

#navbar figure img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

header ul {
  display: flex;
  gap: 1rem;
}

header li {
  list-style: none;
}

header li a {
  text-decoration: none;
  color: var(--highlight-color);
  font-weight: bold;
  padding: 0.5rem;
  display: inline-block;
}

header li a:hover {
  color: var(--link-color);
  background-color: var(--hover-bg);
  border-radius: 5px;
}

main {
  width: 70%;
  margin: 1rem auto;
  line-height: 2;
  text-align: left;
}

.page-heading {
  text-align: center;
}

#welcome-section {
  scroll-margin-top: 200px;
}

h1,
h2,
h3,
h4 {
  font-family: Arial, sans-serif;
  color: var(--font-color);
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 8fr;
  gap: 1rem;
}

.profile-image img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

h1 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.75rem;
  margin-top: 1rem;
  color: var(--highlight-color);
}

p {
  margin-bottom: 1.5rem;
  font-size: 1.1rem;
  line-height: 1.6;
}

#projects {
  margin-top: 3rem;
  scroll-margin-top: 200px;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 1.5rem;
}

.project-tile {
  background-color: var(--footer-bg);
  border-radius: 8px;
  padding: 1.5rem;
  width: 45%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-tile img {
  width: 100%;
  border-radius: 15px;
}

.project-tile:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.8);
  background-color: #3a354a;
}

.project-tile .external-links {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.project-tile .external-links a {
  width: 40%;
  text-align: center;
  font-size: 1rem;
  padding: 1em;
  background-color: var(--link-color);
  color: var(--font-color);
  border-radius: 5px;
}

.project-tile .external-links a:hover {
  background-color: var(--highlight-color);
}

footer {
  background-color: var(--footer-bg);
  color: var(--footer-text-color);
  padding: 2rem 1rem;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: var(--font-color);
}

footer a:hover {
  color: var(--link-color);
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
  list-style: none;
}

.social-links a {
  color: var(--footer-text-color);
  font-size: 1.5rem;
  text-decoration: none;
}

.social-links a:hover {
  color: var(--link-color);
}

footer p {
  font-size: 1rem;
  margin-top: 1rem;
}

/* Responsive Design */
@media (max-width: 1200px) {
  main {
    width: 90%;
  }
  header figure {
    display: none;
  }

  .project-tile {
    width: 100%;
  }
  #navbar {
    width: 100%;
    display: flex;
    justify-content: right;
  }
}

@media (max-width: 900px) {
  .grid-container {
    grid-template-columns: 1fr;
  }

  .profile-image {
    display: none;
  }

  header ul {
    align-items: center;
    gap: 0.5rem;
  }
}
